{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title_page %}{% endblock %}</title>

  <!-- Import Google Icon Font -->
  <link rel="stylesheet" href="{% static 'css/material-icons.css' %}">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

  <!--Imports CSS local-->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <!--Font Source Sans-->
  <link rel="stylesheet" href="{% static 'css/font-family.css' %}">

</head>

<body>

  <!-- Header -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
    <!--Navbar-Brand Only Mobile-->
    <a class="navbar-brand mt-1 ml-2 d-block d-sm-none" href="#">
      <img src="{% static 'assets/Logo_SAJUM.svg' %}" height="50" class="d-inline-block align-top float-left mr-2 mt-2">
    </a>
    <!--Navbar-Brand-->
    <a class="navbar-brand mt-1 ml-2 d-none d-sm-block" href="{% url 'dashboard' %}">
      <img src="{% static 'assets/Logo_SAJUM_line.svg' %}" height="100"
        class="d-inline-block align-top float-left mr-2">
      <p class="header-text-format">Comisaría de familia<br><span class="text-semibold">Municipio</span></p>
    </a>
    <!--Session-->
    <div class="nav navbar-nav ml-auto">
      <div class="d-block text-right mt-2">
        <!--Imagen hidden Only Mobile-->
        <div class="d-none d-sm-block ">
          <img class="mr-3" src="{% static 'assets/escudo.png' %}" height="60" width="60">
        </div>
        <!-- Options Session-->
        <div class="align-middle text-white session-text mt-2">
          <i class="material-icons d-inline-block align-middle session-icon">settings</i>
          <i class="material-icons d-inline-block align-middle session-icon">help</i>
          <p class="d-inline-block font-weight-bolder">Cerrar sesión</p>
        </div>
      </div>
    </div>

  </nav>

  <!-- Sidebar -->
  <div class="float-left menu-side-mt">
    <ul class="nav flex-column">
      <li class="nav-item menu-side-item {% block side-bar-1 %}{% endblock %}">
        <a class="nav-link active pt-1 pl-2" href="{% url 'profile' %}">
          <img src="{% static 'assets/icons/D-39.png' %}" height="60">
        </a>
      </li>
      <li class="nav-item menu-side-item {% block side-bar-2 %}{% endblock %}">
        <a class="nav-link pt-1 pl-2" href="{% url 'notification' %}">
          <img src="{% static 'assets/icons/E-39.png' %}" height="60">
        </a>
      </li>
      <li class="nav-item menu-side-item {% block side-bar-3 %}{% endblock %}">
        <a class="nav-link pt-1 pl-2" href="#">
          <img src="{% static 'assets/icons/F-39.png' %}" height="60">
        </a>
      </li>
      <li class="nav-item menu-side-item {% block side-bar-4 %}{% endblock %}">
        <a class="nav-link pt-1 pl-2" href="#">
          <img src="{% static 'assets/icons/G-39.png' %}" height="60">
        </a>
      </li>
    </ul>
  </div>

  <!-- NavMenu -->
  <div class="mr-3">
    <ul class="nav justify-content-end text-truncate">
      <li class="nav-item menu-top-item {% block nav-item-1 %}{% endblock %}">
        <a class="nav-link menu-top-text {% block nav-link-1 %}{% endblock %}" href="{% url 'dashboard' %}">Inicio</a>
      </li>
      <li class="nav-item menu-top-item {% block nav-item-2 %}{% endblock %}">
        <a class="nav-link menu-top-text {% block nav-link-2 %}{% endblock %}" href="{% url 'process' %}">Procesos</a>
      </li>
      <li class="nav-item menu-top-item {% block nav-item-3 %}{% endblock %}">
        <a class="nav-link menu-top-text {% block nav-link-3 %}{% endblock %}" href="#">Bitácora</a>
      </li>
      <li class="nav-item menu-top-item {% block nav-item-4 %}{% endblock %}">
        <a class="nav-link menu-top-text {% block nav-link-4 %}{% endblock %}" href="#">Reportes</a>
      </li>
    </ul>
  </div>

  <!-- Container-->
  {% block content %}
  {% endblock %}

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="{% static 'js/jquery-3.4.1.slim.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>