<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>SAJUM - Dashboard</title>

  <!-- Import Google Icon Font -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!--Imports CSS local-->
  <link rel="stylesheet" href="css/style.css">

  <!--Font Source Sans-->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap" rel="stylesheet">

</head>

<style>

</style>

<body>

  <!-- Header -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
    <!--Navbar-Brand Only Mobile-->
    <a class="navbar-brand mt-1 ml-2 d-block d-sm-none" href="#">
      <img src="assets/Logo_SAJUM.svg" height="50" class="d-inline-block align-top float-left mr-2 mt-2">
    </a>
    <!--Navbar-Brand-->
    <a class="navbar-brand mt-1 ml-2 d-none d-sm-block" href="#">
      <img src="assets/Logo_SAJUM_line.svg" height="100" class="d-inline-block align-top float-left mr-2">
      <p class="header-text-format">Comisaría de familia<br><span class="text-semibold">Municipio</span></p>
    </a>
    <!--Session-->
    <div class="nav navbar-nav ml-auto">
      <div class="d-block text-right mt-2">
        <!--Imagen hidden Only Mobile-->
        <div class="d-none d-sm-block ">
          <img class="mr-3" src="assets/escudo.png" height="60" width="60">
        </div>
        <!-- Options Session-->
        <div class="align-middle text-white session-text mt-2">
          <i class="material-icons d-inline-block align-middle session-icon">settings</i>
          <i class="material-icons d-inline-block align-middle session-icon">help</i>
          <p class=" d-inline-block font-weight-bolder">Cerrar sesión</p>
        </div>
      </div>
    </div>

  </nav>

  <!-- Sidebar -->
  <div class="float-left menu-side-mt">
    <ul class="nav flex-column">
      <li class="nav-item menu-side-item">
        <a class="nav-link active pt-1 pl-2" href="#">
          <img src="assets/icons/D-39.png" height="60">
        </a>
      </li>
      <li class="nav-item menu-side-item">
        <a class="nav-link pt-1 pl-2" href="#">
          <img src="assets/icons/E-39.png" height="60">
        </a>
      </li>
      <li class="nav-item menu-side-item">
        <a class="nav-link pt-1 pl-2" href="#">
          <img src="assets/icons/F-39.png" height="60">
        </a>
      </li>
      <li class="nav-item menu-side-item">
        <a class="nav-link pt-1 pl-2" href="#">
          <img src="assets/icons/G-39.png" height="60">
        </a>
      </li>
    </ul>
  </div>

  <!-- NavMenu -->
  <div class="mr-3">
    <ul class="nav justify-content-end text-truncate">
      <li class="nav-item menu-top-item active">
        <a class="nav-link menu-top-text active" href="#">Inicio</a>
      </li>
      <li class="nav-item menu-top-item">
        <a class="nav-link menu-top-text" href="#">Procesos</a>
      </li>
      <li class="nav-item menu-top-item">
        <a class="nav-link menu-top-text" href="#">Bitácora</a>
      </li>
      <li class="nav-item menu-top-item">
        <a class="nav-link menu-top-text" href="#">Reportes</a>
      </li>
    </ul>
  </div>

  <!-- Container-->
  <div class="container-section mr-3">
    <div class="container-fluid container-section-border bg-white p-4">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum culpa aut molestias mollitia illum aspernatur
        voluptates et quo illo autem, eligendi ut, quia vel, perferendis delectus explicabo obcaecati nesciunt sed?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, beatae voluptate. Asperiores non modi
        assumenda nam dicta a placeat ad laborum? Vel esse consequatur totam, quae quis sint illo doloribus.</p>
        <br>
        <br>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio veritatis excepturi, minus voluptate assumenda
        ex perferendis fugiat, quae accusamus suscipit deleniti odit quo, temporibus nobis possimus culpa accusantium
        expedita eius.</p>

    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>