{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SAJUM</title>

    <!-- Import Google Icon Font -->
    <link rel="stylesheet" href="{% static 'css/material-icons.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!--Imports CSS local-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!--Font Source Sans-->
    <link rel="stylesheet" href="{% static 'css/font-family.css' %}">

</head>

<body>

    <div class="container">
        <div class="row justify-content-center align-items-center" style="margin-top: 230px!important;">
            <div class="col-xs-10 col-xs-6 col-md-6">
                <!-- Logo -->
                <img class="img-fluid" src="{% static 'assets/Logo_SAJUM_full.svg' %}">
                <!--Texto Comisaria-->
                <p class="comisaria-text">COMISARÍA DE FAMILIA<br>MUNICIPIO</p>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jquery-3.4.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script>
        function redirect() {
            window.location.href = "login";
        }
        setTimeout(redirect, 2000); //2000 is equivalent to 2 seconds
    </script>
</body>

</html>