{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>

    <!-- Import Google Icon Font -->
    <link rel="stylesheet" href="{% static 'css/material-icons.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!--Imports CSS local-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!--Font Source Sans-->
    <link rel="stylesheet" href="{% static 'css/font-family.css' %}">

</head>

<body>

    <div class="container">
        <div class="row justify-content-center align-items-center" style="margin-top: 150px!important;">
            <div class="col-xs-8 col-sm-6 col-md-4">
                <!--Logo-->
                <img class="img-fluid" src="{% static 'assets/Logo_SAJUM_full.svg' %}">
                <!--Formulario-->
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group mt-4 mb-2">
                        <label class="text-white" for="user">Usuario</label>
                        <input type="text" class="form-control border-input" id="user" placeholder="Usuario">
                    </div>
                    <div class="form-group">
                        <label class="text-white" for="password">Contraseña</label>
                        <!--Input with button-->
                        <div class="input-group">
                            <input type="password" class="form-control border-input-icon" id="password"
                                placeholder="********" style="border-right: 0px ;">
                            <button class="button-input-login">
                                <!-- Icon -->
                                <i class="material-icons-outlined" style="font-size: 18px!important;">remove_red_eye</i>
                            </button>
                        </div>
                    </div>
                    <button type="submit" class="btn button-grey btn-block">Ingresar</button>
                </form>
                <!--Texto inferior del formulario-->
                <div class="text-center">
                    <p class="text-white">¿Olvidaste tu contraseña?
                        <a href="#"><b style="color: #BAB9B9;">Recuperarla</b></a>
                    </p>
                </div>

                <!--Texto Comisaria-->
                <p class="comisaria-text" style="margin-top: 60px!important;">COMISARÍA DE FAMILIA<br>MUNICIPIO</p>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jquery-3.4.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>