{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SAJUM</title>

    <!-- Import Google Icon Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!--Imports CSS local-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!--Font Source Sans-->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap" rel="stylesheet">

</head>

<body>

    <div class="container">
        <div class="row justify-content-center align-items-center" style="margin-top: 150px!important;">
            <div class="col-xs-8 col-sm-6 col-md-4">
                <!--Logo-->
                <img class="img-fluid" src="{% static 'assets/Logo_SAJUM_full.svg' %}">
                <!--Formulario-->
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group mt-4 mb-2">
                        <label class="text-white" for="user">Usuario</label>
                        <input type="text" class="form-control border-input" id="user" placeholder="Usuario">
                    </div>
                    <div class="form-group">
                        <label class="text-white" for="password">Contraseña</label>
                        <!--Input with button-->
                        <div class="input-group">
                            <input type="password" class="form-control border-input-icon" id="password" placeholder="********" style="border-right: 0px ;">
                            <button class="button-input-login">
                                <!-- Icon -->
                                <i class="material-icons-outlined" style="font-size: 18px!important;">remove_red_eye</i>
                            </button>
                        </div>
                    </div>
                    <button type="submit" class="btn button-grey btn-block">Ingresar</button>
                </form>
                <!--Texto inferior del formulario-->
                <div class="text-center">
                    <p class="text-white">¿Olvidaste tu contraseña? <a href="#"><b
                                style="color: #BAB9B9;">Recuperarla</b></a></p>
                </div>

                <!--Texto Comisaria-->
                <p class="comisaria-text" style="margin-top: 60px!important;">COMISARÍA DE FAMILIA<br>MUNICIPIO</p>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>