<!-- NavMenu -->
<div class="mr-3">
    <ul class="nav justify-content-end text-truncate">
        <li class="nav-item menu-top-item active">
            <a class="nav-link menu-top-text {% block navmenu1 %}{% endblock %}" href="#">Inicio</a>
        </li>
        <li class="nav-item menu-top-item">
            <a class="nav-link menu-top-text {% block navmenu2 %}{% endblock %}" href="#">Procesos</a>
        </li>
        <li class="nav-item menu-top-item">
            <a class="nav-link menu-top-text {% block navmenu3 %}{% endblock %}" href="#">Bitácora</a>
        </li>
        <li class="nav-item menu-top-item">
            <a class="nav-link menu-top-text {% block navmenu4 %}{% endblock %}" href="#">Reportes</a>
        </li>
    </ul>
</div>